/* Calendar styles */
#calendarBody{
  position:relative;
  background: #1F1C2A;

  width: 100%;
  height: 1300px;
  padding-left: 2%;
  padding-right: 2%;
  padding: 3%;
}

#calendarHeader{
  color: white;
  margin-bottom: 3%;
}

#calendarMonth{
  color:#F8E47E;
  margin-bottom: 2%;
}

#calendarDays th{
  font-size: 120%;
  padding-right: 30px;

  color:#6495ED;
}

#calendarDates td{
  width:200px;
  height:200px;

  background: #FFF8D6;

  border: 10px solid #1F1C2A;
  
}

#calendarDates td p{
  float:right;
  margin-top:-80px;
  margin-right: 10px;
}

#eventButton{
  background:#6495ED;
}

#meetButton{
  background:#ffec81;
}

.container{
  width:120%;
}

/*This peice of css stops the collapse from wiggin out*/
#collapseText.collapse.in {
  display: block!important;
}

#meetText.collapse.in {
  display: block!important;
}

